allure-pytest==2.5.4
allure-python-commons==2.5.4
aniso8601==6.0.0
apipkg==1.5
atomicwrites==1.2.1
attrs==18.2.0
bottle==0.12.16
certifi==2018.11.29
chardet==3.0.4
Click==7.0
enum34==1.1.6
execnet==1.5.0
Flask==1.1.1
future==0.17.1
idna==2.8
importlib-metadata==0.15
itsdangerous==1.1.0
Jinja2==2.10.3
lxml==4.3.0
MarkupSafe==1.1.1
more-itertools==5.0.0
namedlist==1.7
packaging==19.2
pluggy==0.8.0
py==1.7.0
pyparsing==2.4.2
pyTelegramBotAPI==3.6.6
pytest==4.1.0
pytest-forked==1.0.1
pytest-html==1.20.0
pytest-logger==0.4.0
pytest-metadata==1.8.0
pytest-rerunfailures==7.0
pytest-select==0.1.2
pytest-xdist==1.26.0
pytz==2018.9
PyYAML==5.1
raven==6.10.0
requests==2.21.0
selenium==3.141.0
sentry-sdk==0.6.9
six==1.12.0
u-msgpack-python==2.5.0
urllib3==1.24.1
wcwidth==0.1.7
websocket-client==0.54.0
Werkzeug==0.16.0
zipp==0.5.1
